az-iranian-bank-gateways==1.6.15
coverage==6.3.1
Django==4.0.2
django-cors-headers==3.11.0
django-debug-toolbar==3.2.4
django-extensions==3.1.5
django-filter==21.1
django-money==2.1.1
djangorestframework==3.13.1
djangorestframework-simplejwt==5.0.0
drf-nested-routers==0.93.4
drf-spectacular==0.22.0
flake8==4.0.1
graphene==2.1.9
graphene-django==2.15.0
Pillow==9.0.1
psycopg2==2.9.3
pytest==7.0.1
pytest-asyncio==0.18.2
pytest-django==4.5.2
